@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,600;1,700;1,900&display=swap");
/* estilo, grosor, tamaño, familia */
/* Padding box/sizing */
.footer {
  width: 100%;
  background: #1c1c1d;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer .footer__icon {
    height: 25px;
    fill: white; }
  .footer .footer__nombre {
    width: 30%;
    text-align: center;
    padding-bottom: 10px; }
    .footer .footer__nombre span {
      font-weight: 500;
      font-size: 1rem;
      background: linear-gradient(42deg, #ff10da 0%, #3429b0 23%, #39277e 36%, #3a2778 45%, #ec06bd 72%, #fd03c4 78%, #feb300 94%);
      text-transform: uppercase;
      /* clip informático */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .footer .footer__direcciones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
    .footer .footer__direcciones div a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white; }
      .footer .footer__direcciones div a p {
        margin: 0;
        padding: 10px; }
    .footer .footer__direcciones .div--instagram:hover p {
      color: #eba535; }
    .footer .footer__direcciones .div--instagram:hover .footer__icon {
      fill: #eba535; }
    .footer .footer__direcciones .div--whatsapp:hover p {
      color: #6c12b9; }
    .footer .footer__direcciones .div--whatsapp:hover .footer__icon {
      fill: #6c12b9; }
    .footer .footer__direcciones .div--ubicacion:hover p {
      color: #f418c7; }
    .footer .footer__direcciones .div--ubicacion:hover .footer__icon {
      fill: #f418c7; }

html {
  font-size: 18px; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  font: normal 300 1rem "Nunito Sans";
  list-style: none; }
  * a {
    text-decoration: none; }

.navbar {
  transition: 500ms !important; }

.nav-item :hover {
  transition: 500ms;
  background: linear-gradient(42deg, #f418c7 0%, #feb300 79%) !important;
  text-transform: capitalize;
  /* clip informático */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; }

section {
  width: 100%; }

.inicio {
  height: 100vh;
  position: relative; }
  .inicio #inicio__img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .inicio .inicio__txt {
    position: absolute;
    max-width: 30vw;
    left: 4vw;
    top: 20%;
    color: white; }
    .inicio .inicio__txt h1 {
      font-size: calc(1rem + 2vw);
      font-weight: 800;
      text-transform: uppercase; }

.presentacion {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 1fr 600px;
  grid-template-areas: "a1 a1 a1" "a2 a3 a4";
  align-content: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 50px; }
  .presentacion .presentacion__txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: a1; }
    .presentacion .presentacion__txt div h2 {
      font-weight: 800;
      font-size: 1.6rem;
      background: linear-gradient(42deg, #ff10da 0%, #3429b0 23%, #39277e 36%, #3a2778 45%, #ec06bd 72%, #fd03c4 78%, #feb300 94%);
      text-transform: uppercase;
      /* clip informático */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 40vw; }
    .presentacion .presentacion__txt div h3 {
      font-weight: 800;
      font-size: 1.3rem;
      background: #1c1c1d;
      text-transform: uppercase;
      /* clip informático */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 20px 0 20px 0;
      /* top right bottom left */
      width: 40vw; }
    .presentacion .presentacion__txt div p {
      width: 40vw;
      font-size: calc(0.1rem + 1vw); }
  .presentacion .presentacion__diseño, .presentacion .presentacion__responsive, .presentacion .presentacion__seguridad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: a2;
    text-align: center; }
    .presentacion .presentacion__diseño div, .presentacion .presentacion__responsive div, .presentacion .presentacion__seguridad div {
      padding-left: 0;
      padding-right: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;
      background-color: #eba535;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .presentacion .presentacion__diseño div h2, .presentacion .presentacion__responsive div h2, .presentacion .presentacion__seguridad div h2 {
        font-weight: 900;
        font-size: 0.95rem;
        background: white;
        text-transform: uppercase;
        /* clip informático */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 20px 0 10px 0; }
      .presentacion .presentacion__diseño div p, .presentacion .presentacion__responsive div p, .presentacion .presentacion__seguridad div p {
        font-weight: 400;
        font-size: 0.95rem;
        background: white;
        text-transform: uppercase;
        /* clip informático */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 20px;
        text-transform: lowercase;
        width: 80%; }
  .presentacion .presentacion__responsive {
    grid-area: a3; }
    .presentacion .presentacion__responsive div {
      background-color: #584fd6; }
      .presentacion .presentacion__responsive div h2, .presentacion .presentacion__responsive div p {
        background-color: white; }
  .presentacion .presentacion__seguridad {
    grid-area: a4; }
    .presentacion .presentacion__seguridad div {
      background-color: #da7df1; }

.img-circular {
  width: 60px;
  height: 60px;
  fill: white; }

.trabajos {
  display: grid;
  /* height: $alto-foto*5; */
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 80px 300px 300px 300px;
  grid-template-areas: "a0 a0 a0" "a1 a2 a3" "a4 a5 a6" "a7 a8 a9";
  row-gap: 10px;
  column-gap: 10px;
  padding-bottom: 100px;
  align-content: center;
  justify-content: center; }
  .trabajos p {
    font-weight: 800;
    font-size: 1.8rem;
    background: #1c1c1d;
    text-transform: uppercase;
    /* clip informático */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-area: a0;
    text-align: center; }
  .trabajos div {
    background-color: gray; }

.comentarios {
  height: 100vh;
  background: linear-gradient(220deg, #feb300 0%, #fe8400 47%, #fd269a 100%, #9b159f 100%);
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 450px;
  column-gap: 100px;
  justify-content: center;
  align-content: center; }
  .comentarios div {
    background-color: #eeeaea;
    border-radius: 35px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .comentarios div .comentarios__perfil {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 50%; }
    .comentarios div p {
      text-align: center;
      width: 80%;
      padding: 8px; }
    .comentarios div .comentarios__primero {
      font-weight: 800;
      font-size: 1rem;
      background: linear-gradient(220deg, #feb300 0%, #fe8400 47%, #fd269a 100%, #9b159f 100%);
      text-transform: uppercase;
      /* clip informático */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .comentarios div .comentarios__segundo {
      font-weight: 800;
      color: black; }
