@media only screen and (max-width: 700px){

    /*#region*/     /* INDEX */
    .inicio .inicio__txt{
        width: 60vw;
    }

    .presentacion{
        grid-template-columns: 500px;
        grid-template-rows: 1fr 350px 350px 350px;
        grid-template-areas: "a1"
                         "a2" "a3" "a4";
                         row-gap: 30px
    }

    .trabajos{
        grid-template-columns: 250px 250px ;
        grid-template-rows: 80px 250px 250px 250px 250px 250px;
        grid-template-areas: "a0 a0"
                             "a1 a2"
                             "a3 a4"
                             "a5 a6"
                             "a7 a8"
                             "a9 a9";
    }
    .trabajos .noveno{
        grid-area: a9;
    }

    .comentarios{
        height: 110vh;
        grid-template-columns: 300px;
        grid-template-rows: 380px 380px;
        row-gap: 20px;
    }
    .comentarios div .comentarios__perfil{
            height: 80px;
            width: 80px;
            
            object-fit: cover;
            border-radius: 50%;
    }
    
    

    /*#endregion*/

    

    /*#region*/     /* CONTACTOS */

        .contenido{
            grid-template-columns: 1fr;
    grid-template-rows: 100px 0.5fr 1fr 150px 1fr;
            grid-template-areas: "a1"
                                 "a3"
                                 "a5"
                                 "a2"
                                 "a4" ;
        }

    /*#endregion*/

    /*#region*/ /* PRODUCTOS - GENERAL */

    .box-productos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px;
    }

    /*#endregion*/
}