
.box-productos .box .box-imagen a .div-1{
    background-image: url(../scss/img/cactus/cactus1.jpg);
}
.box-productos .box .box-imagen a .div-2{
    background-image: url(../scss/img/cactus/cactus2.webp);
}
.box-productos .box .box-imagen a .div-3{
    background-image: url(../scss/img/cactus/cactus3.webp);
}
.box-productos .box .box-imagen a .div-4{
    background-image: url(../scss/img/cactus/cactus4.jpg);
}