$gradiente-1: linear-gradient(42deg, rgba(255,16,218,1) 0%, rgba(52,41,176,1) 23%, rgba(57,39,126,1) 36%, rgba(58,39,120,1) 45%, rgba(236,6,189,1) 72%, rgba(253,3,196,1) 78%, rgba(254,179,0,1) 94%);
$gradiente-2: linear-gradient(220deg, rgba(254,179,0,1) 0%, rgba(254,132,0,1) 47%, rgba(253,38,154,1) 100%, rgba(155,21,159,1) 100%);
$gradiente-3: linear-gradient(42deg, rgba(244,24,199,1) 0%, rgba(254,179,0,1) 79%);

$gris: rgb(28, 28, 29);
$lila:  rgb(218, 125, 241);
$fucsia: #f418c7;
$violeta: #6c12b9;
$amarillo: #eba535;
$azul: #584fd6;

$color-font-generic: white;