@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,600;1,700;1,900&display=swap');
$font-estilo-1: normal 300 1rem 'Nunito Sans'; /* estilo, grosor, tamaño, familia */
$size-variable: calc(1rem + 2vw);
$grueso-generic: 800;